	<div class="page_container" data-page-num="1">
		<div class="logo_img">Logo</div>
		<h3 id="main_title1">占い予約サイト</h3>
		<p id="text1">ようこそいらっしゃいました。<br>
		こちらは占い師に悩みを相談する予約サイトです。</p>
		<a class="tobook" id="tobook1" href="#bookform">ご予約</a>
	</div>

	<div class="page_container" data-page-num="2">
		<h3 id="main_title2">算命学に則り、個々人の運気を解説</h3>
			<div class="big_contents_container">
			
				<div class="contents_container2-1">
					<div class="img_container2">
						<div id="img_2-0"></div>
						<div id="img_2-1"></div>
					</div>
					<div class="contents_container2-2">
						<h4>リモート</h4>
						<p>aaaaaa</p>
					</div>
				</div>

				<div class="contents_container2-1">
					<div class="img_container2">
						<div id="img_2-2"></div>
					</div>
					<div class="contents_container2-2">
						<h4>対面</h4>
						<p>aaaaaa</p>
					</div>
				</div>

				<div class="contents_container2-1">
					<div class="img_container2">
						<div id="img_2-3"></div>
					</div>
					<div class="contents_container2-2">
						<h4>予約システム</h4>
						<p>aaaaaa</p>
					</div>
				</div>

			</div><!--big_contents_container終わり-->
	</div><!--page_container" data-page-num="2"終わり-->

	<div class="page_container" data-page-num="3">
			<h3 id="main_title3">リモート面談</h3>
			<div class="big_text_container3">
				<p class="text3">遠隔地にお住まいの方、ご多忙な方に、リモートでの面談が可能です。</p>
				<p class="text3">ご予約フォームからzoomなど選択可能です</p>
			</div>

			<div class="big_img_container3">
				<div class="img_container3" id="img3_1"></div>
				<div class="img_container3" id="img3_2"></div>
				<div class="img_container3" id="img3_3"></div>
			</div>
			<a class="tobook" id="tobook2" href="#bookform">ご予約</a>
	</div>

	<div class="page_container" data-page-num="4">
		<h3 id="main_title4">対面スタイル</h3>
		<div class="big_text_container3">
			<p class="text4">東京近郊にお住まいの方でしたら、カフェなどでご相談も可能です。</p>
			<p class="text4">ご予約フォームから、面談可能な地域が選択できます。</p>
		</div>
			<div class="big_img_container4" id="img4_1"></div>
			<a class="tobook" id="tobook2" href="#bookform">ご予約</a>
	</div><!--page_contents_container4終わり-->

	<div id="bookform" class="page_container" data-page-num="5">
			<iframe src="https://select-type.com/rsv/?id=ecGmhhbTD7w&w_flg=1" class="big_text_container5"></iframe>
	</div>
	
	<div class="page_container" data-page-num="6">
		<h3 id="main_title6">お問い合わせ</h3>
		<div class="contents_container6">	
			<form action="cgi-bin/formmail.cgi" method="post">
				<p>
					名前：<input type="text" name="name" size="40">
				</p>
				<p>
					email：<input type="text" name="name" size="40">
				</p>
				<p>
					ご感想：<textarea name="kanso" rows="4" cols="40"></textarea>
				</p>
				<p>
					<input type="submit" value="送信"><input type="reset" value="リセット">
				</p>
			</form>
			
		<footer>
			<div class="footer_logo">logo</div>
			<div class="footer_container">
				<p class="text_footer_1">blog</p>
				<p class="text_footer_1">ご予約</p>
				<p class="text_footer_1">お問い合わせ</p>
			</div>
			<p id="text_footer_copy">©︎</p>
		</footer>	
		</div>
	</div>